/* Header.css */
.nav {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
  }
  
  .nav .site-title {
    font-weight: bold;
    font-size: 20pt;
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
    font-size: 12pt;
  }
  
  .nav li.active {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .nav a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent (li) */
  }
  
  .nav a:hover {
      color: var(--primary-color); /* Darker blue on hover */
  }  